* {
    margin: 0px;
    padding: 0px
}
body {
    width:100%;
    background-image: url("../../public/images/login_bg.png");
    background-repeat: no-repeat;
    background-position: center 50%;
}
.header {
    width:1000px;
    margin: 0 auto;
    vertical-align: middle;
}
.header img{
    margin:48px 0px 20px 0px;
}
.main {
    width:1000px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    overflow: hidden;
}

.left {
    float: left
}

.content {
    float:right;
    width:330px;
}
.ui.blue.segment:not(.inverted){
    border: none;
    border-radius: 0px;
}
.ui.segment{
    margin: 0;
    border:none;
}
.ui.message{
    background-color: #fff;
    border: none;
    border-radius: 0px;
    margin: 0;
    box-shadow: 0px 0px 0px 0px rgba(34, 36, 38, 0.22) inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.ui.stacked.segment:before, .ui.stacked.segment:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0%;
    border-top: 0px solid rgba(34, 36, 38, 0.15);
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 6px;
    visibility: visible;
}
.ui.teal.buttons .button, .ui.teal.button {
    background-color: #4b8dca;
    color: #ffffff;
    text-shadow: none;
    background-image: none;
}
.ui.teal.buttons .button:focus, .ui.teal.button:focus {
    background-color: #4b8dca;
    color: #ffffff;
    text-shadow: none;
}
.ui.teal.buttons .button:hover,
.ui.teal.button:hover {
    background-color: #2d70af;
    color: #ffffff;
    text-shadow: none;
}

.clear {
    clear:both;
}
.footer {
    line-height:50px;
    text-align: center;
    color: #fff;
}
.recommend{
    text-align: center;
}
.recommend .divider h4{
    color: #fff;
}
.ui.horizontal.divider:before, .ui.horizontal.divider:after {
    height: 1px;
    overflow: hidden;
    color: #fff;
    background-image: url("../../public/images/line.png");
}
.ui.tiny.images .image, .ui.tiny.images img, .ui.tiny.images svg, .ui.tiny.image {
    margin: 4px 12px;
}